<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZeroNetExample-release.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BD1F47171DFA991B20FEAEA584F941F057875F11</string>
				<key>dateExpires</key>
				<string>2/9/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD1F47171DFA991B20FEAEA584F941F057875F11</string>
						<key>dateExpires</key>
						<string>2/9/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MM2B8W94AH</string>
						<key>name</key>
						<string>Rick Li</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD1F47171DFA991B20FEAEA584F941F057875F11</string>
						<key>dateExpires</key>
						<string>2/9/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BinUtils.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MM2B8W94AH</string>
						<key>name</key>
						<string>Rick Li</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD1F47171DFA991B20FEAEA584F941F057875F11</string>
						<key>dateExpires</key>
						<string>2/9/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MM2B8W94AH</string>
						<key>name</key>
						<string>Rick Li</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD1F47171DFA991B20FEAEA584F941F057875F11</string>
						<key>dateExpires</key>
						<string>2/9/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MessagePack.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MM2B8W94AH</string>
						<key>name</key>
						<string>Rick Li</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD1F47171DFA991B20FEAEA584F941F057875F11</string>
						<key>dateExpires</key>
						<string>2/9/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Socket.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MM2B8W94AH</string>
						<key>name</key>
						<string>Rick Li</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD1F47171DFA991B20FEAEA584F941F057875F11</string>
						<key>dateExpires</key>
						<string>2/9/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MM2B8W94AH</string>
						<key>name</key>
						<string>Rick Li</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BD1F47171DFA991B20FEAEA584F941F057875F11</string>
						<key>dateExpires</key>
						<string>2/9/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZeroNetSwiftFramework.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MM2B8W94AH</string>
						<key>name</key>
						<string>Rick Li</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MM2B8W94AH.com.rick.ZeroNetExample</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>MM2B8W94AH</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>MM2B8W94AH.com.rick.ZeroNetExample</string>
				</array>
			</dict>
			<key>name</key>
			<string>ZeroNetExample.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8b44e9fa-3a03-43ed-bd68-5d83e4a9d030</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.rick.*</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MM2B8W94AH</string>
				<key>name</key>
				<string>Rick Li</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
